<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<!-- Define servlets that are included in this application -->

	<servlet>
		<servlet-name>CommonFunction</servlet-name>
		<servlet-class>common.CommonFunction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CommonFunction</servlet-name>
		<url-pattern>/CommonFunction</url-pattern>
	</servlet-mapping>

	<!-- Assignment - 1 -->
	<servlet>
		<servlet-name>UserDetails</servlet-name>
		<servlet-class>assignment1.UserDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDetails</servlet-name>
		<url-pattern>/UserDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserDetails_pre</servlet-name>
		<servlet-class>assignment1.UserDetails_pre</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDetails_pre</servlet-name>
		<url-pattern>/UserDetails_pre</url-pattern>
	</servlet-mapping>

	<!-- Assignment - 2 -->
	<servlet>
		<servlet-name>UserDetailsA</servlet-name>
		<servlet-class>assignment2.UserDetailsA</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDetailsA</servlet-name>
		<url-pattern>/UserDetailsA</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserDetailsA_pre</servlet-name>
		<servlet-class>assignment2.UserDetailsA_pre</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDetailsA_pre</servlet-name>
		<url-pattern>/UserDetailsA_pre</url-pattern>
	</servlet-mapping>

	<!-- Assignment - 3 -->
	<servlet>
		<servlet-name>UserDetailsB</servlet-name>
		<servlet-class>assignment3.UserDetailsB</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDetailsB</servlet-name>
		<url-pattern>/UserDetailsB</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserDetailsB_pre</servlet-name>
		<servlet-class>assignment3.UserDetailsB_pre</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDetailsB_pre</servlet-name>
		<url-pattern>/UserDetailsB_pre</url-pattern>
	</servlet-mapping>

	<!-- Assignment - 4 -->
	<servlet>
		<servlet-name>UserDetailsC</servlet-name>
		<servlet-class>assignment4.UserDetailsC</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDetailsC</servlet-name>
		<url-pattern>/UserDetailsC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserDetailsC_pre</servlet-name>
		<servlet-class>assignment4.UserDetailsC_pre</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDetailsC_pre</servlet-name>
		<url-pattern>/UserDetailsC_pre</url-pattern>
	</servlet-mapping>

	<!-- Assignment - 5 -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>assignment5.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login_pre</servlet-name>
		<servlet-class>assignment5.Login_pre</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login_pre</servlet-name>
		<url-pattern>/Login_pre</url-pattern>
	</servlet-mapping>

	<!-- Assignment - 6 -->
	<servlet>
		<servlet-name>EditUserDetails</servlet-name>
		<servlet-class>assignment6.EditUserDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EditUserDetails</servlet-name>
		<url-pattern>/EditUserDetails</url-pattern>
	</servlet-mapping>

	<!-- Welcome File -->
	<welcome-file-list>
		<welcome-file>/WEB-INF/JSP/Welcome.jsp</welcome-file>
	</welcome-file-list>

</web-app>